.login-form,
.register-form {
  padding: 30px 20px 30px; }

.login-form input {
  margin-bottom: 0px; }

.login-form .forgot-password-link {
  text-align: center;
  margin: 20px 0px; }

.login-form .forgot-password-link a:hover {
  cursor: pointer; }

.login-form .or-line {
  position: relative; }

.login-form .or-line .ol-or {
  display: block;
  text-align: center;
  background: #ffffff;
  width: 40px;
  margin: 0 auto;
  color: #9e9e9e;
  position: relative;
  z-index: 1;
  font-size: 12px; }

.login-form .or-line .ol-line {
  height: 1px;
  width: 100%;
  background-color: #9e9e9e;
  position: absolute;
  top: 10px;
  left: 0px;
  z-index: 0; }

.login-form .section-title,
.register-form .section-title {
  border-bottom: 0px solid #e0e0e0;
  padding-bottom: 0px; }

.login-form .sign-in-sosmed {
  width: 170px;
  margin: 0px auto 0px; }

.login-form .row.fp-text {
  margin-bottom: 0px; }

.login-form .sign-in-sosmed .sign-in-icon {
  width: 45px;
  height: 45px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  display: table;
  color: #ffffff;
  text-align: center;
  float: left;
  margin: 0px 20px;
  cursor: pointer; }

.login-form .sign-in-sosmed .sign-in-icon .fa,
.login-form .sign-in-sosmed .sign-in-icon .fab,
.login-form .sign-in-sosmed .sign-in-icon .fas,
.login-form .sign-in-sosmed .sign-in-icon .fal,
.login-form .sign-in-sosmed .sign-in-icon .far {
  display: table-cell;
  vertical-align: middle;
  font-size: 15px; }

.login-form .sign-in-sosmed .sign-in-icon.sii-twitter {
  background-color: #00bbed; }

.login-form .sign-in-sosmed .sign-in-icon.sii-facebook {
  background-color: #2f7abc; }
  .login-form{padding-top:80px;}