<!-- SIDE NAV-->
<nav>
  <ul id="nav-mobile-menu" class="side-nav">
    <li class="profile">
      <div class="li-profile-info">
        <img src="img/profile.jpg" alt="profile">
        <h2>Bhaskar Bhakare</h2>
        <div class="emailprofile">bhaskar.bhakare@dahlia-tech.com</div>
        <div class="balance">
           <span>9096151548</span>
        </div>
      </div>
      <div class="bg-profile-li" style="background-image: url(img/bg-profile.jpg);">
      </div>
    </li>
    <li>
      <a class="waves-effect waves-blue" href="warantiList.html"><i class="fa fa-list-alt"></i>Waranti List</a>
    </li>
    <li>
      <a href="profile.html"><i class="fa fa-user-circle"></i>Profile</a>
    </li>
    <li>
      <a href="contact.html"><i class="fa fa-envelope"></i> Contact Us</a>
    </li>
    <li>
      <a href="notification.html"><i class="fa fa-bell"></i>Notifications</a>
    </li>
    <li>
      <a href="login.html"><i class="fa fa-sign-out"></i>Sign Out</a>
    </li>
  </ul>
  </nav>
  <!-- END SIDENAV-->