<!-- HEADER -->
<header id="header">
  <div class="nav-wrapper container">
    <div class="header-logo">
      <a href="" class="nav-logo">		
      <span class="fa-stack">
        <i class="fa fa-check fa-stack-1x"></i>
        <i class="fa fa-shield fa-stack-2x"></i>
      </span>		
      Waranti
    </a>
    </div>
    <div class="header-menu-button">
      <a href="javascript:void(0);" data-activates="nav-mobile-menu" class="button-collapse" id="button-collapse-menu" (click)="isMenuBox = !isMenuBox">
      <div class="cst-btn-menu">
        <i class="fa fa-align-right fa-2x"></i>
      </div>
      </a>
    </div>
    <div class="header-icon-menu cart-item-wrap">
      <a href="notification.html">
      <i class="fa fa-bell-o"></i>
      <span class="cart-item">4</span>
      </a>
    </div>
  </div>
  </header>
  <!-- END HEADER -->
  <app-aside-nav></app-aside-nav>