<!-- FOOTER  -->
<footer id="footer">
  <div class="footer-info">
    <div class="container">
      <div class="col s12 center">
        <i class="fa fa-map-marker"></i> Karangwaru St, Yogyakarta, Indonesia<br>
        <i class="fa fa-phone"></i> (+62)-000-123456 <br>
        <i class="fa fa-envelope-o"></i> halo@gromarttheme.com
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-footer-icon">
      <div class="col s12">
        <div class="footer-sosmed-icon ">
          <div class="wrap-circle-sosmed ">
            <a href="#">
            <div class="circle-sosmed">
              <i class="fa fa-instagram"></i>
            </div>
            </a>
          </div>
          <div class="wrap-circle-sosmed ">
            <a href="#">
            <div class="circle-sosmed">
              <i class="fa fa-linkedin"></i>
            </div>
            </a>
          </div>
          <div class="wrap-circle-sosmed ">
            <a href="#">
            <div class="circle-sosmed">
              <i class="fa fa-twitter"></i>
            </div>
            </a>
          </div>
          <div class="wrap-circle-sosmed ">
            <a href="#">
            <div class="circle-sosmed">
              <i class="fa fa-facebook-f"></i>
            </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row copyright">
       2018 <span>Waranti</span>, All rights reserved.
    </div>
  </div>
  </footer>
  <!-- END FOOTER -->